<?xml version="1.0"?>
<pycml_config>

<!--
  There are 3 ways of specifying variables:
  1. By name (var type='name')
     Variable names are given in full form, i.e. component,variable
  2. By standardised name (var type='oxmeta')
     Use the name from the oxmeta annotations
  3. By reference to a section of this config file (when defining lookup table keys)
     e.g. <var type='config-name'>transmembrane_potential</var>

  Within any element that specifies a variable, a list of <var> elements can be
  provided.  Each will be tried in turn to see if a match can be found in the model,
  and the first match wins.
-->

<global>
  <lookup_tables>
    <lookup_table>
      <!-- Only one var allowed here -->
      <var type='config-name'>transmembrane_potential</var>
      <min>-100.0001</min>
      <max>59.9999</max>
      <step>0.01</step>
    </lookup_table>
  </lookup_tables>
  <currents>
    <stimulus>
      <var type='oxmeta'>membrane_stimulus_current</var>
      <var type='name'>membrane,i_Stim</var>
      <var type='name'>membrane,I_stim</var>
      <var type='name'>cell,i_Stim</var>
      <var type='name'>membrane,i_stim</var>
      <var type='name'>membrane,I_st</var>
      <var type='name'>membrane,i_st</var>
      <var type='name'>membrane,i_pulse</var>
    </stimulus>
    <ionic_match>
      <!-- regexp on var names -->
      <var type='name'>membrane,i_.*</var>
      <var type='name'>cell,i_.*</var>
      <var type='name'>cell,xi.*</var>
    </ionic_match>
    <!--
      Note that the stimulus current is automatically
      excluded from being an ionic current.
      Also note that there are implicit ^ and $ around the regexp.
      -->
  </currents>
  <transmembrane_potential>
    <var type='oxmeta'>membrane_voltage</var>
    <var type='name'>membrane,V</var>
    <var type='name'>cell,V</var>
    <var type='name'>membrane,E</var>
  </transmembrane_potential>
  <membrane_capacitance>
    <var type='oxmeta'>membrane_capacitance</var>
    <var type='name'>membrane,Cm</var>
    <var type='name'>membrane,C</var>
    <var type='name'>membrane,C_m</var>
    <var type='name'>membrane,C_sc</var>
  </membrane_capacitance>
</global>

<for_model id="tentusscher_model_2006_epi">
  <lookup_tables>
    <lookup_table>
      <var type='config-name'>transmembrane_potential</var>
      <min>-250.0001</min>
      <max>349.9999</max>
    </lookup_table>
  </lookup_tables>
</for_model>

<for_model id="wiggle">
  <lookup_tables>
    <lookup_table>
      <var>membrane,V</var>
      <max>151.9999</max>
    </lookup_table>
  </lookup_tables>
</for_model>

<for_model id="wiggle2">
  <lookup_tables>
    <lookup_table>
      <var>membrane,V</var>
      <min>0</min>
      <max>100</max>
      <step>0.01</step>
    </lookup_table>
  </lookup_tables>
</for_model>

<for_model id="faber_rudy_2000">
  <lookup_tables>
    <lookup_table>
      <var>membrane,V</var>
      <max>269.9999</max>
    </lookup_table>
  </lookup_tables>
</for_model> 

<for_models>
  <ids>
    <id>faber_rudy_2000_version01</id>
    <id>LR_Dynamic_model_2000</id>
  </ids>
  <lookup_tables>
    <lookup_table>
      <var>membrane,V</var>
      <max>69.9999</max>
    </lookup_table>
  </lookup_tables>
</for_models> 

<for_models>
  <ids>
    <id>noble_model_1991</id>
    <id>noble_model_2000</id>
    <id>noble_varghese_kohl_noble_1998_version07_variant03</id>
    <id>noble_varghese_kohl_noble_1998_basic</id>
  </ids>
  <lookup_tables>
    <lookup_table>
      <var>membrane,V</var>
      <max>69.9999</max>
    </lookup_table>
  </lookup_tables>
</for_models>

<for_models>
  <ids>
    <id>luo_rudy_I_model_1991</id>
    <id>luo_rudy_1991_version03</id>
    <id>luo_rudy_1991</id>
  </ids>
 <gating_vars>
  <var>fast_sodium_current_m_gate,m</var>
  <var>fast_sodium_current_h_gate,h</var>
  <var>fast_sodium_current_j_gate,j</var>
  <var>slow_inward_current_d_gate,d</var>
  <var>slow_inward_current_f_gate,f</var>
  <var>time_dependent_potassium_current_X_gate,X</var>
 </gating_vars>
 <newton_vars>
  <var>intracellular_calcium_concentration,Cai</var>
 </newton_vars>
</for_models>

<for_model id="noble_model_1998">
 <gating_vars>
  <var>rapid_delayed_rectifier_potassium_current_xr1_gate,xr1</var>
  <var>rapid_delayed_rectifier_potassium_current_xr2_gate,xr2</var>
  <var>slow_delayed_rectifier_potassium_current_xs_gate,xs</var>
  <var>fast_sodium_current_m_gate,m</var>
  <var>fast_sodium_current_h_gate,h</var>
  <var>L_type_Ca_channel_d_gate,d</var>
  <var>L_type_Ca_channel_f_gate,f</var>
  <var>transient_outward_current_s_gate,s</var>
  <var>transient_outward_current_r_gate,r</var>
 </gating_vars>
 <newton_vars>
  <var>L_type_Ca_channel_f2_gate,f2</var>
  <var>L_type_Ca_channel_f2ds_gate,f2ds</var>
  <var>calcium_release,ActFrac</var>
  <var> calcium_release,ProdFrac </var>
  <var>intracellular_sodium_concentration,Na_i</var>
  <var>intracellular_potassium_concentration,K_i</var>
  <var>intracellular_calcium_concentration,Ca_i</var>
  <var>intracellular_calcium_concentration,Ca_ds</var>
  <var>intracellular_calcium_concentration,Ca_up</var>
  <var>intracellular_calcium_concentration,Ca_rel</var>
  <var>intracellular_calcium_concentration,Ca_Calmod</var>
  <var>intracellular_calcium_concentration,Ca_Trop</var>
 </newton_vars> 
</for_model>

</pycml_config>
