SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root
HOME=/

# Chaste stuff
# Doxygen check every 5 minutes
*/5 * * * * root /root/run-doxygen.py >/dev/null
# Nightly builds. Currently weekdays 1am. Note svn user.
2 1 * * 1-5 svn /home/svn/nightly-build.sh
