SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root
HOME=/

# run-parts
01 * * * * root run-parts /etc/cron.hourly
02 4 * * * root run-parts /etc/cron.daily
22 4 * * 0 root run-parts /etc/cron.weekly
42 4 1 * * root run-parts /etc/cron.monthly

# Chaste stuff
# Doxygen check every 5 minutes
*/5 * * * * root /root/run-doxygen.py >/dev/null
# Nightly builds. Currently Sun-Fri 10.30pm.
30 22 * * 0-5 svn /home/svn/nightly-build.sh
# Backup the repository locally every morning.
22 0 * * * svn rm -rf /home/svn/chaste.bak; svnadmin hotcopy /var/svn/chaste /home/svn/chaste.bak --clean-logs

# Protect against SSH brute force attacks
*/10 * * * * root /root/check_ssh.py -p /var/log/secure
